body{
    background-image: url('ba.jpg');
    background-repeat:no-repeat;
  
}
 .mt-10{
     margin-top: 125px;
 }
h1,.stopwatch,ul{
    color: brown;
    font-family: cursive;

}
.stopwatch{
    font-size: 50px;
    font-weight: bolder;
}
/* .stopwatch{
    font-family: cursive;

} */
.btn-dark{
    font-family: cursive;

    background-color: rgb(214, 181, 137) !important;
    color: brown !important;
    border-radius: 20px !important;
    border-color: brown !important;
    
}

.btn-dark:hover
{
    background-color: brown !important;
    color:cornsilk !important;
}


